#make-a-thon {
    background: var(--theme-lightgray);
    padding: 5em 1.5em;
}

#make-a-thon h1 {
    font-size: 2.5rem;
}

#make-a-thon h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

#make-a-thon img {
    width: min(90%, 900px);
}