.navbar {
    border-bottom: 1px solid var(--theme-gray);
}

.navbar {
    display: flex;
    align-content: center;
    padding: 1em 0;
    margin-bottom: 4.75em;
}

.navbar-header h1 {
    padding-left: 1em;
}