.navbar {
    z-index: 9001;
    position: fixed;
    display: flex;
    align-content: center;
    padding: .9em 0;
    background: white;
    width: 100%;
}

.navbar-header button {
    margin-left: 1em;
    color: black;
    font-size: 1.1em;
    border: none;
}

@media (hover) {
    .navbar-header button {
        cursor: pointer;
        transform: scale(.95);
        transition: all 125ms ease-out;
    }

    .navbar-header button:hover {
        transform: scale(1);
        color: var(--theme-blue);
    }
}