.problem-section {
    background: var(--theme-lightgray);
}

.problem-header {
    margin: auto;
    padding-top: 3em;
    text-align: center;
    h2 {
        font-size: clamp(2.25rem, 5vw, 3rem);
    }

    p {
        margin: 0 auto;
        margin-top: .4em;
        width: clamp(70%, 500px, calc(100% - 1em))
    }
}